/*сброс стандартных стилей*/

@font-face {
    font-family: 'gotham_blackregular';
    src: url('../fonts/gotham-black_2-webfont.eot');
    src: url('../fonts/gotham-black_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-black_2-webfont.woff2') format('woff2'),
         url('../fonts/gotham-black_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-webfont.eot');
    src: url('../fonts/opensans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-webfont.woff2') format('woff2'),
         url('../fonts/opensans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_condensedlight';
    src: url('../fonts/opensanscondensed-light-webfont.eot');
    src: url('../fonts/opensanscondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanscondensed-light-webfont.woff2') format('woff2'),
         url('../fonts/opensanscondensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style-type: none;
}
.header {
	position: relative;
	width: 1170px;	
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	font-family: 'latoregular', sans-serif;
	font-size: 14px;
	align-items: center;
	padding: 30px 0;	
}

.menu {
	display: flex;
	font-family: 'latoregular', sans-serif;
	width: 1170px;
	justify-content: center;
	background: white;
	align-items: center;
	opacity: 0.7;
}
.fixed {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.menu-item:hover{
	cursor: pointer;	
	
	width: auto;
}

.menu-item a {
	display: block;
	color: #868686;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px 20px;	
	margin-left: 20px;
}
.menu-item .active {
	color: white;
	background: orange;
	width: auto;
}

.container {
	justify-content: space-around;	
	display: flex;
}
.back {
	background: #6f9cca;
	height: 650px;
}
.main-content {
	background: #6f9cca;
	height: 450px;
	display: flex;
	flex-direction: column;
	padding: 110px 0;
}

.banner {
	font-family: sans-serif;	
}
.banner1 {
	color:#ffffff;
	justify-content: center;
	display: flex;
	font-size: 35px;
	font-family: 'gotham_blackregular', sans-serif;	
}
.banner2 {
	color:#ffffff;
	justify-content: center;
	display: flex;
	font-size: 16px;
	padding: 15px 0;    
	opacity: .8;	
	font-family: 'open_sans_condensedlight';
}
.input-text {
	border: none;
}
.field {
	display: flex;
	border: none;
}
.registration {
	justify-content: center;
	display: flex;
	padding: 35px 0px;	
	border: none;
}
.registr1 {
	width: 280px;
	margin: 10px;
	background: white;
	color: #a9a9a9;
    align-items: center;
	font-size: 13px;
	display: flex;
	justify-content: flex-start;	
}
.registr1:hover {
	cursor: pointer;	
	background: bisque;
}
.registr2 {
	width: 280px;
	margin: 10px;
	background: white;
	color: #a9a9a9;
	font-size: 13px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.registr2:hover {
	cursor: pointer;	
	background: bisque;
}
.registr3 {
	width: 280px;
	margin: 10px;
	background: white;
	color: #a9a9a9;
	font-size: 13px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.registr3:hover {
	cursor: pointer;	
	background: bisque;
}
.registr4 {
	width: 210px;
	margin: 10px;
	background: orange;
	height: 50px;
	color: #ffffff;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
}
.registr4:hover{
	cursor: pointer;
	background: bisque;	
}
.laptop {
	flex-direction: column;
	display: flex;
	align-items: center;
}
.laptop1 {
	width: 650px;
	height: 345px;
}
.laptop2 {
	width: 450px;
	height: 270px;	
}
.eclipse {
	transition: color .5s;
}
.Ellipse1:hover{
	cursor: pointer;	
	background: silver;
}
.Ellipse2:hover{
	cursor: pointer;	
	background: silver;
}
.Ellipse3:hover{
	cursor: pointer;	
	background: silver;	
}
.human {
	padding: 15px;
}
.email {
	padding: 15px;
}
.phone {
	padding: 15px;
}
.about-out {
    background: #ffc155 url(./../img/table.png);
    background-size: 50%;
    background-repeat: no-repeat;
    color: white;	
}
.container1 {
    width: 1170px;
    margin: 50px auto;	
}

.about-out {
    background: #ffc155 url(./../img/table.png);
    background-size: 50%;
    background-repeat: no-repeat;
    color: white;
	height: 500px;
}
.about {    
    display: flex;
}
.about-left {    
    min-width: 50%;
}
.about-right {    
    min-width: 50%;
    padding-left: 50px;
    font-size: 30px;
}
.about-us {
	font-size: 30px;
	font-family: 'gotham_blackregular', sans-serif;	
	padding-top: 160px;
}
.about-text {
	font-size: 13px;
	font-family: 'open_sansregular', sans-serif;
	padding-top: 30px;
	line-height: 2;
}
.started1 {
	width: 130px;
	margin: 10px;
	background: #ffc154;
	height: 50px;
	color: #ffffff;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	height:40px;
	margin-top: 35px;
	border: 1px solid orange;
}
.started1 .active {
	color: white;
	background: #ffc154;
}
.started1:hover{
	cursor: pointer;	
	background: silver;
}

.services {
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
	margin-top: 200px;
}

.serv {
	color:#394b50;
	justify-content: center;
	display: flex;
	font-size: 35px;
	font-family: 'gotham_blackregular', sans-serif;
	font-weight: bolder;	
}
.serv1 {
	color:#394b50;
	justify-content: center;
	display: flex;
	font-size: 16px;
	padding: 15px 0;
	font-family: 'open_sansregular', sans-serif;		
}
.description {
	display: flex;	
	margin: 50px auto;
	width: 1170px;
	flex-wrap: wrap;
	justify-content: center;	
}
.settings:hover{
	cursor: pointer;
}
.descr {
	margin-top: 10px;
	display: flex;
	margin-bottom: 10px;
	margin-right: 10px;	
	width: calc((1170px - (2 * 10px)) / 2);
	height: 150px;	
}

.descr_text1 {
	color:#394b50;
	margin-left: 30px;
	font-size: 16px;	
	font-family: 'open_sansregular', sans-serif;
}
.descr_text2 {
	color:#394b50;
	margin-left: 10px;
	font-size: 13px;	
	margin-top: 10px;
	margin-right: 100px;
	opacity: .6;	
	font-family: 'open_sansregular', sans-serif;	
}
.descr_text1:hover{
	background: greenyellow;	
}
.back1 {
	background: #e6edf3;
}

.allprice {
	background: #e6edf3;
	height:900px;	
}
.price {
	padding-top: 100px;
	padding-bottom: 35px;	
}

.price1 {
	color:#394b50;
	justify-content: center;
	display: flex;
	font-size: 35px;
	font-family: 'gotham_blackregular', sans-serif;
	font-weight: bolder;	
}
.price2 {	
	color:#394b50;
	justify-content: center;
	display: flex;
	font-size: 16px;
	font-family: 'latolight', sans-serif;
}
.plan {	
	display: flex;
	justify-content: center;	
}
.basic {
	color: #818b95;
	width: 385px;
	height: 435px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	background: #ffffff;
	text-transform: uppercase;
}
.premium {	
	width: 385px;
	height: 500px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #6f9dc9;
	color: #ffffff;
	text-transform: uppercase;
}
.gold {
	color: #818b95;
	width: 385px;
	height: 435px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	background: #ffffff;
	text-transform: uppercase;
}
.all1 {
	font-size: 25px;
	font-family: 'latolight', sans-serif;	
	display: flex;
	justify-content: center;
}
.all2::before {
	content: "$";
	display: flex;
	font-size: 70%;	
	display: flex;
}
.all21::before {
	content: "$";
	display: flex;
	font-size: 70%;	
}
.all2 {
	font-size: 60px;
	color: #ffbb42;
	font-family: 'latolight', sans-serif;
	font-weight: bolder;
	display: flex;
	justify-content: center;
}
.all21 {
	font-size: 60px;
	color: #ffffff;
	font-family: 'latolight', sans-serif;
	display: flex;
	justify-content: center;
}
.all3 {
	font-size: 14px;
	font-family: 'latolight', sans-serif;
	height:50px;
	display: flex;
	justify-content: center;
}
.all4 {
	font-size: 14px;
	font-family: 'latoregular', sans-serif;
	height:40px;
	text-decoration: overline;
	display: flex;
	justify-content: center;
}
.all5 {
	font-size: 14px;
	font-family: 'latoregular', sans-serif;
	height:40px;
	text-decoration: overline;
	display: flex;
	justify-content: center;
}
.all6 {
	font-size: 14px;
	font-family: 'latoregular', sans-serif;
	text-decoration: overline;	
	display: flex;
	justify-content: center;
}

.started:hover{
	cursor: pointer;	
	background: silver;
}
.started {
	width: 130px;
	margin: 10px;
	background: orange;
	height: 50px;
	color: #ffffff;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	height:40px;
	margin-top: 35px;
}
.started .active {
	color: white;
	background: orange;
}
.container3 {
	height: 850px;
	background: url(./../img/arrows1.png);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;	
}


.how-it {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 150px;
	margin-bottom: 105px;
}

.how-it-head {
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-family: 'gotham_blackregular', sans-serif;
	font-weight: bolder;	
}

.how-it-text {
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-family: 'latolight', sans-serif;
	margin-top: 15px;	
}
.step-all {
	display: flex;
	justify-content: center;	
}
.step1 {	
	width: 250px;
	height: 350px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	background: url(./../img/headfone.png);
	text-transform: uppercase;
	background-repeat: no-repeat;
	background-position: 50% 10%; ;
}
.step-text1 {
	display: flex;
	font-family: 'latoregular', sans-serif;
	font-weight: 700;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
	width: 200px;
	margin-left: auto;
    margin-right: auto
}
.step1:hover{
	cursor: pointer;	
	background-image: url(./../img/headfone1.png);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-position: 50% 10%;
}

.step2 {	
	width: 280px;
	height: 350px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	background: url(./../img/lock.png);
	text-transform: uppercase;
	background-repeat: no-repeat;
	background-position: 50% 10%; ;
}
.step2:hover{
	cursor: pointer;	
	background-image: url(./../img/lock1.png);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-position: 50% 10%;
}
.step3 {	
	width: 280px;
	height: 350px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	background: url(./../img/frame.png);
	text-transform: uppercase;
	background-repeat: no-repeat;
	background-position: 50% 10%; ;
}
.step3:hover{
	cursor: pointer;	
	background-image: url(./../img/frame1.png);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-position: 50% 10%;
}
.step4 {	
	width: 280px;
	height: 350px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	background: url(./../img/class.png);
	text-transform: uppercase;
	background-repeat: no-repeat;
	background-position: 50% 10%; ;
}
.step4:hover{
	cursor: pointer;	
	background-image: url(./../img/class1.png);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-position: 50% 10%;
}
 .step-text2 {
	font-size: 13px;
	font-family: 'open_sansregular', sans-serif;	
	line-height: 1.5;
	padding-top: 30px;
	padding-left: 25px;
	padding-right: 25px;
	opacity: .5;	
}


.started-but {
	display: flex;
	justify-content: space-around;
	margin-top: 90px;
	padding-bottom: 150px;
}
.started2 {
	width: 130px;
	margin: 10px;
	background: #ffbb41;
	height: 50px;
	color: #ffffff;
	font-size: 14px;
	display: flex;	
	justify-content: center;
	align-items: center;
	height:40px;
	margin-top: 35px;	
	font-family: 'latoregular', sans-serif;	
}

.started2:hover{
	cursor: pointer;	
	background: silver;
}

.happy-clients {
	background: #ffc155;	
}

.clients {	
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
	margin-top: 200px;	
}

	
.client-text1 {
	color:white;
	justify-content: center;
	display: flex;
	font-size: 30px;
	font-family: 'gotham_blackregular', sans-serif;
	font-weight: bolder;
	text-transform: uppercase;	
}	
.client-text2 {
	color:white;
	justify-content: center;
	display: flex;
	font-size: 16px;
	padding: 15px 0;
	font-family: 'open_sansregular', sans-serif;
}
.content-client {
	display: flex;	
	margin: 50px auto;
	width: 1170px;
	flex-wrap: wrap;
	justify-content: center;
}
.client {
	margin-top: 10px;
	display: flex;
	margin-bottom: 10px;
	margin-right: 20px;	
	width: calc((1170px - (2 * 20px)) / 2);
	height: 240px;	
	background: white;	
}
.client-info {
	margin-top: 15px;
	color:#394b50;
	margin-left: 20px;
	margin-right: 40px;
	font-size: 13px;	
	font-family: 'open_sansregular', sans-serif;
	opacity: .5;
}
.client-info1 {
	color:#394b50;
	margin-left: 20px;	
	font-size: 14px;	
	margin-top: 20px;
	margin-right: 10px;
	opacity: .6;	
	font-family: 'latoregular', sans-serif;
	text-transform: uppercase;		
}

.span1 {
	color:coral;
}
.foto-cl-img {
	margin-top: 40px;
	display: block;	
	margin-left: 30px;
}
.foto-client {	  
  	border-radius: 50%;  
  	height: 8em;
  	width: 8em;  
}
.quotes {
	font-weight: 700;
	font-size: 40px;	
}
.back-end {
	background-image: url(./../img/map.png);
	height: 950px;
	background-repeat: no-repeat;
	background-position: center;
	background-position: 50% 80%;
}
.main-content-end {
	
	height: 950px;
	display: flex;
	flex-direction: column;
	padding: 110px 0;
}

.banner {
	font-family: sans-serif;	
}
.banner-end1 {
	color:#394b50;
	justify-content: center;
	display: flex;
	font-size: 30px;
	font-family: 'gotham_blackregular', sans-serif;	
	text-transform: uppercase;
}
.banner-end2 {
	color:#394b50;
	justify-content: center;
	display: flex;
	font-size: 16px;
	padding: 15px 0;    
	opacity: .8;	
	font-family: 'open_sans_condensedlight';
}
.input-text {
	border: none;
}
.field {
	display: flex;
	border: none;
}
.registration {
	justify-content: center;
	display: flex;
	padding: 35px 0px;	
	border: none;
}
.registr11 {
	width: 300px;
	margin: 10px;
	background: white;
	color: #a9a9a9;
    align-items: center;
	font-size: 13px;
	display: flex;
	justify-content: flex-start;	
	border: 1px solid black;
}
.registr11:hover {
	cursor: pointer;	
	background: bisque;
}
.registr21 {
	width: 380px;
	margin: 10px;
	background: white;
	color: #a9a9a9;
	font-size: 13px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border: 1px solid black;
}
.registr21:hover {
	cursor: pointer;	
	background: bisque;
}

.registr41 {
	width: 210px;
	margin: 10px;
	background: orange;
	height: 50px;
	color: #ffffff;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	text-transform: uppercase;
}

.registr41:hover{
	cursor: pointer;
	background: bisque;	
}
.content-end {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: sans-serif;
}
.laptop {
	background-image: url(./../img/circle.png);
	flex-direction: column;
	display: flex;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center;
}
.c-end {
	font-family: 'latoregular', sans-serif;	
	font-size: 15px;
	color:#ffffff;
	text-decoration: underline;
	line-height: 2.0;
	margin-top: 30px;
	text-transform: uppercase;	
}
.c-end1 {
	color:#aeb7ba;
	font-family: 'open_sansregular', sans-serif;
	text-decoration: underline;
	line-height: 2.0;
}
.c-end2 {
	color: #ffbb42;
	text-decoration: underline;
	line-height: 2.0;
}

.logo-end {
	width: 50px;
	height: 50px;
		
}
.basement {		
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	font-family: 'latoregular', sans-serif;
	font-size: 14px;
	align-items: center;
	padding: 30px 0;	
}
.end {
	font-family: 'latoregular', sans-serif;	
	font-size: 22px;
	display: flex;
	justify-content: center;
}
.end::before {
	content: url(./../img/phone.png);	
}
.s-network {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.social-network {
	margin-left: 15px;
}
.finish {
	background: #6f9cca;
	height: 40px;
	margin-top: 40px;
}
.bann {
	font-family: sans-serif;	
}
.bann2 {
	color:#ffffff;
	justify-content: center;
	display: flex;
	font-size: 13px;
	padding: 10px;
	opacity: .8;	
	font-family: 'open_sans_condensedlight', sans-serif;
}