/*сброс стандартных стилей*/

@font-face {
    font-family: 'gotham_blackregular';
    src: url('../fonts/gotham-black_2-webfont.eot');
    src: url('../fonts/gotham-black_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-black_2-webfont.woff2') format('woff2'),
         url('../fonts/gotham-black_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-webfont.eot');
    src: url('../fonts/opensans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-webfont.woff2') format('woff2'),
         url('../fonts/opensans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_condensedlight';
    src: url('../fonts/opensanscondensed-light-webfont.eot');
    src: url('../fonts/opensanscondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanscondensed-light-webfont.woff2') format('woff2'),
         url('../fonts/opensanscondensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style-type: none;
}
html {
    font-size: 16px;
}
.header {
	position: relative;
	width: 1170px;	
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	font-family: 'latoregular', sans-serif;
	font-size: 14px;
	align-items: center;
	padding: 30px 0;	
}

.menu {
	display: flex;
	font-family: 'latoregular', sans-serif;
	width: 1170px;
	justify-content: center;
	background: white;
	align-items: center;
	opacity: 0.7;
}
.logo-fixed1 {
	margin-right: 20px;
}
.fixed {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.menu-item:hover{
	cursor: pointer;	
	background-color: #6f9dc9;
	width: auto;
}

.menu-item a {
	display: block;
	color: #868686;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px 20px;	
	margin-left: 20px;
}
.menu-item .active {
	color: white;
	background: orange;
	width: auto;
}

.container {
	justify-content: space-around;	
	display: flex;
}
.back {
	background: #6f9cca;
	height: 650px;
}
.main-content {
	background: #6f9cca;
	height: 450px;
	display: flex;
	flex-direction: column;
	padding: 110px 0;
}

.banner {
	font-family: sans-serif;	
}
.banner1 {
	color:#ffffff;
	justify-content: center;
	display: flex;
	font-size: 35px;
	font-family: 'gotham_blackregular', sans-serif;	
}
.banner2 {
	color:#ffffff;
	justify-content: center;
	display: flex;
	font-size: 16px;
	padding: 15px 0;    
	opacity: .8;	
	font-family: 'open_sans_condensedlight';
}
.input-text {
	border: none;
}
.field {
	display: flex;
	border: none;
}
.registration {
	justify-content: center;
	display: flex;
	padding: 35px 0px;	
	border: none;
}
.registr1 {
	width: 280px;
	margin: 10px;
	background: white;
	color: #a9a9a9;
    align-items: center;
	font-size: 13px;
	display: flex;
	justify-content: flex-start;	
}
.registr1:hover {
	cursor: pointer;	
	background: bisque;
}
.registr2 {
	width: 280px;
	margin: 10px;
	background: white;
	color: #a9a9a9;
	font-size: 13px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.registr2:hover {
	cursor: pointer;	
	background: bisque;
}
.registr3 {
	width: 280px;
	margin: 10px;
	background: white;
	color: #a9a9a9;
	font-size: 13px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.registr3:hover {
	cursor: pointer;	
	background: bisque;
}
.registr4 {
	width: 210px;
	margin: 10px;
	background: orange;
	height: 50px;
	color: #ffffff;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
}
.registr4:hover{
	cursor: pointer;
	background: bisque;	
}
.laptop {
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.laptop1 {
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(../img/laptop1.png);
	background-repeat: no-repeat;
	position: relative;
	width: 650px;
	height: 345px;
	
	top:-15px;	
	transform: scale(1) ;	
}

.laptop2 {
	background-image: url(../img/laptop2.png);
	width: 445px;
	height: 285px;	
	position: absolute;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -4%;
}
.eclipse {
	transition: color .5s;
	margin-top: 60%;
}
.Ellipse1:hover{
	cursor: pointer;	
	background: silver;
}
.Ellipse2:hover{
	cursor: pointer;	
	background: silver;
}
.Ellipse3:hover{
	cursor: pointer;	
	background: silver;	
}
.human {
	padding: 15px;
}
.email {
	padding: 15px;
}
.phone {
	padding: 15px;
}
@media (max-width: 1130px) {
	.back {
		background: #6f9cca;
		height: 450px;
	}
    
    .banner1 {
        font-size: 1.5rem;
        color: white;
    }
    .banner2 {
        color: white;
        font-size: 1rem; 
    }
	.field {
		display: flex;
		border: none;
		flex-wrap: wrap;
	}
	.registration {
		padding: 5px 0px;
		justify-content: center;
		display: flex;		
		border: none;
		
	}
	.registr1 {
		width: 210px;
		margin: 5px;
		background: white;
		color: #a9a9a9;
		align-items: center;
		font-size: 10px;
		display: flex;
		justify-content: flex-start;	
	}
	
	.registr2 {
		width: 210px;
		margin: 5px;
		background: white;
		color: #a9a9a9;
		font-size: 10px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	
	.registr3 {
		width: 210px;
		margin: 5px;
		background: white;
		color: #a9a9a9;
		font-size: 10px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	
	.registr4 {
		width: 170px;
		margin: 5px;
		background: orange;		
		color: #ffffff;
		font-size: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
	}
	
	.laptop {
		display: flex;
		align-items: center;
		justify-content: center;
		
	}
	.laptop1 {
		flex-direction: column;
		display: flex;
		align-items: center;
		justify-content: center;
		background-image: url(../img/laptop1.png);
		background-repeat: no-repeat;
		position: relative;		
		top:-15px;	
		transform: scale(0.8) ;	
	}
	
	.laptop2 {
		background-image: url(../img/laptop2.png);
		width: 445px;
		height: 285px;	
		position: absolute;
		background-repeat: no-repeat;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: -4%;
	}
	.eclipse {
		transition: color .5s;
		margin-top: 60%;
	}
}
@media (max-width: 640px) {
	.back {
		background: #6f9cca;
		height: 550px;
	}
    
    .banner1 {
        font-size: 1.2rem;
        color: white;
    }
    .banner2 {
        color: white;
        font-size: 0.8rem; 
    }
	.registration {
		padding: 5px 0px;
		justify-content: center;
		display: flex;		
		border: none;
		
	}
	.field {
		display: flex;
		flex-direction: column;
	}
	.registr1 {
		width: 210px;
		margin: 5px;
		background: white;
		color: #a9a9a9;
		align-items: center;
		font-size: 10px;
		display: flex;
			
	}
	
	.registr2 {
		
		width: 210px;
		margin: 5px;
		background: white;
		color: #a9a9a9;
		font-size: 10px;
		display: flex;
		align-items: center;
		
	}
	
	.registr3 {
		
		width: 210px;
		margin: 5px;
		background: white;
		color: #a9a9a9;
		font-size: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.registr4 {
		width: 150px;
		
		margin: 5px;
		background: orange;
		height: 50px;
		color: #ffffff;
		font-size: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
	}
	.laptop {
		display: flex;
		align-items: center;
		justify-content: center;
		
	}
	.laptop1 {
		flex-direction: column;
		display: flex;
		align-items: center;
		justify-content: center;
		background-image: url(../img/laptop1.png);
		background-repeat: no-repeat;
		position: relative;		
		top:-15px;	
		transform: scale(0.6) ;	
	}
	
	.laptop2 {
		background-image: url(../img/laptop2.png);
		width: 445px;
		height: 285px;	
		position: absolute;
		background-repeat: no-repeat;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: -4%;
	}
	.eclipse {
		transition: color .5s;
		margin-top: 60%;
	}
}