// post actions styles
$phoneActionSize: 20px;
$phoneActionBrd: 2px solid orange;


// post actions-number styles
$phoneActionFirstBg:silver;
$phoneActionFirstBrd: 1px solid blue;
$phoneActionSecondBg: white;
$phoneActionSecondBrd: 1px solid silver;
$phoneActionThirdBg: blue;

