* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1140px) {
  .header {
    position: relative;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0;
  }
  .header__toggle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .header__menu-item {
    display: none;
  }
  .header__menu-fixed {
    position: absolute;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-calc(100vw - 40px);
    width: calc(100vw - 40px);
    top: 10px;
    left: 0;
    z-index: 100;
  }
  .main {
    opacity: 0.7;
  }
  .main__content-title {
    color: green;
    font-weight: bold;
  }
  .main__content-title1 {
    color: green;
    font-weight: bold;
  }
  .features {
    height: 1150px;
  }
  .features__head {
    margin-bottom: 10px;
  }
  .features__all-step1 {
    margin-bottom: 60px;
  }
  .work__content {
    min-width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .work__content-first {
    background: none;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center;
  }
  .work__content-second {
    background: url(./../img/Layer2.png);
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center;
  }
  .work__content-third {
    background: url(./../img/Layer3.png);
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center;
  }
  .work__content-fourth {
    background: url(./../img/Layer5.png);
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center;
  }
  .work__content-five {
    background: url(./../img/Layer5.png);
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center;
  }
  .work__content-six {
    background: url(./../img/Layer6.png);
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center;
  }
  .work__content-seven {
    background: url(./../img/Layer7.png);
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center;
  }
  .work__content-eight {
    background: url(./../img/Layer8.png);
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center;
  }
}

@font-face {
  font-family: 'latoregular';
  src: url("../fonts/Lato-Reg.otf");
  src: url("../fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Reg.ttf") format("woff2"), url("../fonts/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.first__block {
  background: #f6ede9;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'latoregular', sans-serif;
  font-size: 14px;
  padding: 5px 0;
}

.header__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  z-index: 2;
}

.header__logo-fixed1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 10px;
  left: 20px;
}

.header__logo-fixed2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 15px;
  left: 70px;
}

.header__logo-fixed {
  position: fixed;
  top: 5px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

.header__toggle {
  display: none;
  width: 50px;
  height: 50px;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__toggle span {
  display: block;
  height: 5px;
  background: black;
  width: 30px;
  position: absolute;
}

.header__toggle::before, .header__toggle::after {
  content: '';
  display: block;
  height: 5px;
  background: black;
  width: 30px;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  position: absolute;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.header__toggle::before {
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.header__toggle::after {
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
}

.header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'latoregular', sans-serif;
  width: 100%;
  opacity: 0.7;
  background: black;
  height: 50px;
}

.header__menu-fixed {
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.header__menu-item:hover {
  cursor: pointer;
  background-color: #6f9dc9;
  width: auto;
}

.header__menu-item a {
  display: block;
  color: #868686;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  margin-left: 20px;
}

.header__menu-item .active {
  display: block;
  color: #868686;
  text-transform: uppercase;
  border-bottom: red;
  width: auto;
}

.header:hover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header:hover span,
.header:hover .header__toggle::before,
.header:hover .header__toggle::after {
  background: red;
}

.header:hover span {
  display: none;
}

.header:hover .header__toggle::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header:hover .header__toggle::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.second__block {
  background: #f6ede9;
}

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(../img/Layertop1.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 680px;
  width: auto;
}

.main__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  margin-left: 15px;
  margin-top: 150px;
}

.main__content-style {
  color: red;
}

.main__content-title {
  font-size: 32px;
  margin-left: 20px;
}

.main__content-title1 {
  margin-top: 20px;
  font-size: 14px;
  line-height: 2.5;
}

.main__content-started {
  width: 130px;
  margin: 10px;
  background: #ffc154;
  height: 50px;
  color: #ffffff;
  font-size: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  margin-top: 35px;
  border: 1px solid orange;
}

.main__content-started .active {
  color: white;
  background: #ffc154;
}

.main__content-started:hover {
  cursor: pointer;
  background: silver;
}

.main__user-action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 30px;
  margin-bottom: -50px;
}

.main__actions {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.main__actions:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.main__actions-first {
  background: #000000;
}

.main__actions-second {
  background: none;
  border: 1px solid silver;
}

.main__actions-third {
  background: none;
  border: 1px solid silver;
}

.third__block {
  background: #e66667;
}

.features__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.features__head-style {
  margin-top: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  font-family: 'gotham_blackregular', sans-serif;
  font-weight: bolder;
  color: #ecba0b;
}

.features__head-line {
  font-size: 50px;
  color: #ecba0b;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -20px;
  margin-left: -25px;
}

.features__all {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 515px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.features__all i {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 100px;
  color: white;
}

.features__all i:hover {
  cursor: pointer;
  color: #fac81b;
}

.features__all-step1 {
  width: 250px;
  height: 350px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  text-transform: uppercase;
}

.features__all-step1 :hover {
  cursor: pointer;
  color: green;
}

.features__all-step2 {
  width: 280px;
  height: 350px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  text-transform: uppercase;
}

.features__all-step2 :hover {
  cursor: pointer;
  color: green;
}

.features__all-step3 {
  width: 280px;
  height: 350px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  text-transform: uppercase;
}

.features__all-step3 :hover {
  cursor: pointer;
  color: green;
}

.features__all-step4 {
  width: 280px;
  height: 350px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  text-transform: uppercase;
}

.features__all-step4 :hover {
  cursor: pointer;
  color: green;
}

.features__all-text1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: 'latoregular', sans-serif;
  font-weight: 700;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  margin-top: 50px;
}

.features__all-text1:hover {
  cursor: pointer;
  color: #ecba0b;
}

.features__all-text2 {
  font-size: 13px;
  font-family: 'open_sansregular', sans-serif;
  line-height: 2;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
  opacity: .5;
  color: white;
  height: 190px;
}

.features__all-but {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.features__all-but1 {
  width: 130px;
  margin: 10px;
  background: #e66667;
  border: 1px solid #ecba0b;
  height: 50px;
  color: #ffffff;
  font-size: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  margin-top: 35px;
  font-family: 'latoregular', sans-serif;
}

.features__all-but1:hover {
  cursor: pointer;
  background: #ecba0b;
}

.work {
  background: #f4ece9;
  height: 770px;
}

.work__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 60px;
  font-size: 35px;
  color: #ecba0b;
  font-family: 'latoregular', sans-serif;
}

.work__title-line {
  font-size: 50px;
  color: #ecba0b;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -95px;
  margin-left: -160px;
}

.work__title-style {
  font-weight: bold;
  margin-left: 10px;
  margin-top: 60px;
}

.work__title-style1 {
  font-weight: normal;
  margin-left: 10px;
  margin-top: 60px;
}

.work__about {
  width: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.work__content {
  min-width: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work__content-first {
  background: url(./../img/Layer1.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.work__content-second {
  background: url(./../img/Layer2.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.work__content-third {
  background: url(./../img/Layer3.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.work__content-fourth {
  background: url(./../img/Layer5.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.work__content-five {
  background: url(./../img/Layer5.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.work__content-six {
  background: url(./../img/Layer6.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.work__content-seven {
  background: url(./../img/Layer7.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.work__content-eight {
  background: url(./../img/Layer8.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.work__content-style {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background: red;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.work__content-style1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-weight: bold;
  font-family: 'latoregular', sans-serif;
  font-size: 22px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;
}

.work__content-style1:hover {
  cursor: pointer;
}

.work__content-style2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-family: 'latoregular', sans-serif;
  font-size: 14px;
  margin-left: 20px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.clients {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.clients__style {
  font-size: 50px;
  color: #ecba0b;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -20px;
}

.clients__text1 {
  color: #ecba0b;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 35px;
  font-family: 'latoregular', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  margin-top: 30px;
}

.clients__content-all {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__content {
  margin-top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  margin-right: 20px;
  width: -webkit-calc((1170px - (3 * 20px)) / 3);
  width: calc((1170px - (3 * 20px)) / 3);
  height: 400px;
  background: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.clients__content-first {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: url(./../img/back-client1.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  height: 210px;
}

.clients__content-second {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: url(./../img/back-client2.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  height: 210px;
}

.clients__content-third {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: url(./../img/back-client3.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  height: 210px;
}

.clients__content-foto {
  display: block;
  margin-top: 170px;
  margin-left: 140px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.clients__content-ava {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  height: 5em;
  width: 5em;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.clients__content-ava:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.clients__content-info {
  color: #e66768;
  margin-left: 20px;
  font-size: 14px;
  margin-top: 50px;
  margin-right: 10px;
  opacity: .6;
  font-family: 'latoregular', sans-serif;
  text-transform: uppercase;
}

.clients__content-info1 {
  margin-top: 40px;
  color: #394b50;
  margin-left: 20px;
  margin-right: 30px;
  font-size: 22px;
  font-family: 'open_sansregular', sans-serif;
  opacity: .5;
}

.contact {
  background-image: url(./../img/map.png);
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.contact__us {
  height: 700px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact__info {
  background: #e56767;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 550px;
  height: 525px;
}

.contact__info i {
  font-size: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #ecba0b;
}

.contact__all {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__all-style {
  margin-top: -20px;
}

.contact__all-style1 {
  font-size: 35px;
  color: #ecba0b;
  font-family: 'latoregular', sans-serif;
  line-height: 2.0;
  margin-top: -20px;
}

.contact__all-style2 {
  font-size: 15px;
  color: #ffffff;
  font-family: 'latoregular', sans-serif;
  line-height: 2.0;
  margin-top: 20px;
  opacity: .7;
}

.contact__all-style3 {
  font-size: 15px;
  color: #ffffff;
  font-family: 'latoregular', sans-serif;
  line-height: 2.0;
  margin-top: 20px;
  opacity: .7;
}

.contact__all-style4 {
  font-size: 15px;
  color: #ffffff;
  font-family: 'latoregular', sans-serif;
  line-height: 2.0;
  margin-top: 20px;
  opacity: .7;
}

.contact__registration {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__registration-field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__registration-first {
  width: 230px;
  height: 60px;
  margin: 10px;
  background: white;
  color: white;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 1px solid white;
  background: #e56767;
}

.contact__registration-first:hover {
  cursor: pointer;
  background: bisque;
}

.contact__registration-second {
  width: 230px;
  height: 60px;
  margin: 10px;
  background: white;
  color: white;
  font-size: 13px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 1px solid white;
  background: #e56767;
}

.contact__registration-second:hover {
  cursor: pointer;
  background: bisque;
}

.contact__registration-third {
  width: 480px;
  height: 100px;
  margin: 10px;
  background: white;
  color: white;
  font-size: 13px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 1px solid white;
  background: #e56767;
}

.contact__registration-third:hover {
  cursor: pointer;
  background: bisque;
}

.contact__registration-fourth {
  width: 50px;
  margin: 10px;
  height: 50px;
  color: #ffffff;
  font-size: 14px;
  border: none;
  text-transform: uppercase;
  background: url(./../img/mail.svg);
}

.contact__registration-fourth:hover {
  cursor: pointer;
}

.contact__registration-text {
  border: none;
  background: #e56767;
  color: black;
  margin-left: 20px;
}

.contact__registration-text:hover {
  cursor: pointer;
  background: bisque;
}

.seven__block {
  background: #000000;
  opacity: .8;
}

.basement {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'latoregular', sans-serif;
  font-size: 14px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.basement:hover .menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.basement:hover span,
.basement:hover .toggle::before,
.basement:hover .toggle::after {
  background: red;
}

.basement:hover span {
  display: none;
}

.basement:hover .toggle::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.basement:hover .toggle::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: 'latoregular', sans-serif;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #b1b1b1;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.7;
  z-index: 101;
}

.finish {
  background: #000000;
  height: 40px;
  opacity: .8;
  border-top: 1px solid silver;
}

.bann {
  font-family: sans-serif;
}

.bann2 {
  color: #919191;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  padding: 10px;
  opacity: .8;
  font-family: 'open_sans_condensedlight', sans-serif;
}
/*# sourceMappingURL=style.css.map */