* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1140px) {
  .header {
    position: relative;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0;
  }
  .header__toggle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .header__logo {
    left: 200px;
  }
  .header__menu-item {
    display: none;
  }
  .main {
    opacity: 0.7;
  }
  .main__content-title {
    color: green;
    font-weight: bold;
  }
  .main__content-title1 {
    color: green;
    font-weight: bold;
  }
}

@font-face {
  font-family: 'latoregular';
  src: url("../fonts/lato-regular-webfont.eot");
  src: url("../fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.first__block {
  background: #f6ede9;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'latoregular', sans-serif;
  font-size: 14px;
  padding: 5px 0;
}

.header__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  z-index: 2;
}

.header__logo-fixed1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 10px;
  left: 20px;
}

.header__logo-fixed2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 15px;
  left: 70px;
}

.header__logo-fixed {
  position: fixed;
  top: 5px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

.header__toggle {
  display: none;
  width: 50px;
  height: 50px;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__toggle span {
  display: block;
  height: 5px;
  background: black;
  width: 30px;
  position: absolute;
}

.header__toggle::before, .header__toggle::after {
  content: '';
  display: block;
  height: 5px;
  background: black;
  width: 30px;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  position: absolute;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.header__toggle::before {
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.header__toggle::after {
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
}

.header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'latoregular', sans-serif;
  width: 100%;
  opacity: 0.7;
  background: black;
  height: 50px;
}

.header__menu-fixed {
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.header__menu-item:hover {
  cursor: pointer;
  background-color: #6f9dc9;
  width: auto;
}

.header__menu-item a {
  display: block;
  color: #868686;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  margin-left: 20px;
}

.header__menu-item .active {
  display: block;
  color: #868686;
  text-transform: uppercase;
  border-bottom: red;
  width: auto;
}

.header:hover .header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header:hover span,
.header:hover .header__toggle::before,
.header:hover .header__toggle::after {
  background: red;
}

.header:hover span {
  display: none;
}

.header:hover .header__toggle::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header:hover .header__toggle::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.second__block {
  background: #f6ede9;
}

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(../img/Layertop.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 680px;
  width: auto;
}

.main__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  margin-left: 15px;
  margin-top: 150px;
}

.main__content-style {
  color: red;
}

.main__content-title {
  font-size: 32px;
  margin-left: 20px;
}

.main__content-title1 {
  margin-top: 20px;
  font-size: 14px;
  line-height: 2.5;
}

.main__content-started {
  width: 130px;
  margin: 10px;
  background: #ffc154;
  height: 50px;
  color: #ffffff;
  font-size: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  margin-top: 35px;
  border: 1px solid orange;
}

.main__content-started .active {
  color: white;
  background: #ffc154;
}

.main__content-started:hover {
  cursor: pointer;
  background: silver;
}

.main__user-action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 30px;
  margin-bottom: -50px;
}

.main__actions {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.main__actions:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.main__actions-first {
  background: #000000;
}

.main__actions-second {
  background: none;
  border: 1px solid silver;
}

.main__actions-third {
  background: none;
  border: 1px solid silver;
}

.third__block {
  background: #e66667;
}

.features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.features__head {
  margin-top: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  font-family: 'gotham_blackregular', sans-serif;
  font-weight: bolder;
  color: #ecba0b;
}

.features__all {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 515px;
  margin-top: 100px;
}

.features__all-step1 {
  width: 250px;
  height: 350px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  background: url(./../img/html.png);
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: 50% 10%;
  position: relative;
}

.features__all-step1:hover {
  cursor: pointer;
  background-image: url(./../img/html.png);
  -webkit-background-size: auto auto;
          background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 10%;
}

.features__all-step2 {
  width: 280px;
  height: 350px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  background: url(./../img/html.png);
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: 50% 10%;
  position: relative;
}

.features__all-step2:hover {
  cursor: pointer;
  background-image: url(./../img/html.png);
  -webkit-background-size: auto auto;
          background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 10%;
}

.features__all-step3 {
  width: 280px;
  height: 350px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  background: url(./../img/html.png);
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: 50% 10%;
  position: relative;
}

.features__all-step3:hover {
  cursor: pointer;
  background-image: url(./../img/html.png);
  -webkit-background-size: auto auto;
          background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 10%;
}

.features__all-step4 {
  width: 280px;
  height: 350px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  background: url(./../img/html.png);
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: 50% 10%;
}

.features__all-step4:hover {
  cursor: pointer;
  background-image: url(./../img/html.png);
  -webkit-background-size: auto auto;
          background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 10%;
}

.features__all-text1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: 'latoregular', sans-serif;
  font-weight: 700;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  margin-top: 50px;
}

.features__all-text1:hover {
  cursor: pointer;
  color: #ecba0b;
}

.features__all-text2 {
  font-size: 13px;
  font-family: 'open_sansregular', sans-serif;
  line-height: 2;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
  opacity: .5;
  color: white;
  height: 190px;
}

.features__all-but {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.features__all-but1 {
  width: 130px;
  margin: 10px;
  background: #e66667;
  border: 1px solid #ecba0b;
  height: 50px;
  color: #ffffff;
  font-size: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  margin-top: 35px;
  font-family: 'latoregular', sans-serif;
}

.features__all-but1:hover {
  cursor: pointer;
  background: #ecba0b;
}

.work {
  background: #f4ece9;
  height: 770px;
}

.work__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 60px;
  font-size: 35px;
  color: #ecba0b;
  font-family: 'latoregular', sans-serif;
}

.work__title-style {
  font-weight: bold;
  margin-left: 10px;
  margin-top: 60px;
}

.work__title-style1 {
  font-weight: normal;
  margin-left: 10px;
  margin-top: 60px;
}

.work__about {
  width: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.work__content {
  min-width: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.work__content-first {
  background: url(./../img/Layer1.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.work__content-second {
  background: url(./../img/Layer2.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.work__content-third {
  background: url(./../img/Layer3.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.work__content-fourth {
  background: url(./../img/Layer5.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.work__content-five {
  background: url(./../img/Layer5.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.work__content-six {
  background: url(./../img/Layer6.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.work__content-seven {
  background: url(./../img/Layer7.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.work__content-eight {
  background: url(./../img/Layer8.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.work__content-style {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.work__content-style1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-weight: bold;
  font-family: 'latoregular', sans-serif;
  font-size: 22px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.work__content-style2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-family: 'latoregular', sans-serif;
  font-size: 14px;
  margin-left: 20px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
/*# sourceMappingURL=style.css.map */