@media (max-width: 1140px) {
	.header {  
                position: relative;
		align-items: center;
		padding: 10px 0;              
                &__toggle {
                        display: flex;
                    }
               
                &__menu-item {
                        display: none;
                }  
                &__menu-fixed {
                        position: absolute;
                        display: none;
                        flex-direction: column;
                        width: calc(100vw - 40px);
                        top: 10px;
                        left: 0;
                        z-index: 100;
                    }              
	}
        
        

        .main {
                opacity: 0.7;
                &__content-title {
                        color: green;  
                        font-weight: bold;
                
                    }
                &__content-title1 {
                        color: green;
                        font-weight: bold;
                    }
        }

        .features {                
                height: 1150px; 
                &__head {
                margin-bottom: 10px;
                }         
                &__all {                    
                        &-step1 {
                        margin-bottom: 60px;
                }
                        
                }
            
                
                    
            
            
            }

        .work {
                &__content {
                        min-width: 50%;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        &-first {
                            background: none;
                            background-size: cover;
                            background-position: center;            
                        }
                        &-second {
                            background: url(./../img/Layer2.png);
                            background-size: cover;
                            background-position: center;            
                        }
                        
                        &-third {
                            background: url(./../img/Layer3.png);
                            background-size: cover;
                            background-position: center;
                        }
                        &-fourth {
                            background: url(./../img/Layer5.png);
                            background-size: cover;
                            background-position: center;            
                        }
                        &-five {
                            background: url(./../img/Layer5.png);
                            background-size: cover;
                            background-position: center;
                        }
                        &-six {
                            background: url(./../img/Layer6.png);
                            background-size: cover;
                            background-position: center;
                        }
                        &-seven {
                            background: url(./../img/Layer7.png);
                            background-size: cover;
                            background-position: center;
                        }
                        &-eight {
                            background: url(./../img/Layer8.png);
                            background-size: cover;
                            background-position: center;
                        }
        }

}}